<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>My orders:</h4><br>
<table>
    <tr>
      <th style="padding-left:5em">Product</th>
      <th style="padding-left:5em">Actions</th>
    </tr>
    {% if all_orders|length >= 1 %}
        {% for order in all_orders %}
            <tr>
                <td style="padding-left:5em">
                  <a href="{% url 'get_product_details' order.products.id %}">
                      {{ order.products.name }}
                  </a>
                </td>
                <td style="padding-left:5em">
                      <a href="{% url 'delete_order' order.pk %}">Delete order</a>
                </td>
            </tr>

        {% endfor %}
    {% else %}
        <h4>There is no orders yet</h4>
    {% endif %}

    <tr>
      <th style="padding-left:5em">
        <a href="{% url 'create_order' %}">Continue ordering</a>
      </th>
    </tr>

</table>
</body>
</html>