<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form method="get">
        {{ filter.form }}
        <button type="submit">Filter</button>
    </form>
</div><br>
    {% if all_products|length >= 1 %}
      <table>
        <tr>
          <th>Products</th>
          <th style="padding-left:5em">Operations</th>
          <th><a href="{% url 'create_product' %}" style="padding-left:5em">Add product</a></th>
          <th><a href="{% url 'create_category' %}" style="padding-left:5em">Add category</a></th>
          <th><a href="{% url 'create_order' %}" style="padding-left:5em">Create order</a></th>
        </tr>
      {% for product in all_products %}

      <tr>
        <td><a href="{% url 'get_product_details' product.id %}">{{ product.name }}</td>
        <td style="padding-left:5em">
          <a href="{% url 'delete_product' product.id %}">Delete</a>
          <a href="{% url 'update_product' product.id %}">Edit</a>
        </td>
      </tr>
      {% endfor %}
    {% else %}
      <h4>There is no products available yet</h4>
      <a href="{% url 'create_product' %}">Add product</a>
    {% endif %}

</table>

</body>
</html>