<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>Product details:</h4><br>
<table>
    <tr>
      <th style="padding-left:5em">Name</th>
      <th style="padding-left:5em">Price</th>
      <th style="padding-left:5em">Variant</th>
      <th style="padding-left:5em">Category</th>
    </tr>

    <tr>
    <td style="padding-left:5em">
      {{ product.name }}
    </td>
        <td style="padding-left:5em">
      {{ product.price }}
    </td>
        <td style="padding-left:5em">
      {{ product.variant.color }}
    </td>
        <td style="padding-left:5em">
      {{ product.category.name }}
    </td>
    </tr>
</table>

</body>
</html>